{% extends 'system/layout.html' %}

{% block title %}
    Profile
{% endblock %}


{% block body %}
    {% include 'system/navbar_user.html' %}
    <div class="container">
      <h2><strong>Hello... {{ request.user.first_name }}</strong></h2>
      <div class="jambotron">
        
        <form method='POST'>
            {% csrf_token %}
            <label><h1 id="head">Do you want to delete profile of '{{ object.first_name }} {{ object.last_name }}' having PRN Number '{{ object.prn_number }}'?</h1></label><hr>
            <a class="btn btn-primary" href='{% url "student_list" %}'>Cancel</a>
            <button class="btn btn-danger">Confirm</button>
        </form>
        
      </div>
    </div>
{% endblock %}