{% extends 'system/layout.html' %}

{% block title %}
    Profile
{% endblock %}


{% block body %}
    {% include 'system/navbar_user.html' %}
    <div class="container">
      <h2><strong>Hello... {{ request.user.first_name }}</strong></h2>
      <div class="jambotron">
        <h1 id="head">Attendance List</h1>
        <hr>
        <div class = 'search-box'>
        <form method='POST'>
        {% csrf_token %}
            <input type="text" name="prn" class="form-control" placeholder="PRN Number">
            <button class="btn btn-large btn-primary">Search</button>
        </form>
        </div>
        <hr>
        <div class='container'>
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">PRN Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Show</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
            
            {% for obj in object %}
                <tbody>
                   
                    <tr>
    
                        <td>{{ obj.prn_number }}</td>
                        <td>{{ obj.first_name }} {{ obj.last_name }}</td>
                        <td><a href='/student-profile/{{ obj.id }}' class="btn btn-primary">Show</a></td>
                        <td><a href="/delete-student/{{ obj.id }}" class="btn btn-danger">Delete</a></td>
                    </tr>
                    
                 </tbody>
                
            {% endfor %}
            </table>
        </div>
      </div>
    </div>
{% endblock %}
